@page "/BookEditor"
@page "/BookEditor/{id}/{partition}"
@inject NavigationManager _navigation
@inject HttpClient _http
@code {
    [Parameter] public string id { get; set; }
    [Parameter] public string partition { get; set; }

    Book item = new Book();
    string apiRoot = "api/books/";
    string echo;

    protected override async Task OnInitializedAsync()
    {
        if (id != null) {// update, PUT operation
            item = await _http.GetFromJsonAsync<Book>($"{apiRoot}{id}/{partition}");
        }
    }

    protected async Task Save()
    {
        HttpResponseMessage response;
        if (id == null) {
            if (item.ISBN == null) {// scape
                item.ISBN = Utils.NewISBN();
            }
            response = await _http.PostAsJsonAsync($"{apiRoot}", item);
        }
        else {
            response = await _http.PutAsJsonAsync($"{apiRoot}", item);
        }
        if (await Utils.ResponseResult(response)) {
            _navigation.NavigateTo("/Books");
        }
        else {
            echo = "The operation was not completed";
        }
    }

    protected void Cancel() => _navigation.NavigateTo("/Books");
}

<h1 style="color:darkgoldenrod">Art Gallery</h1>
<h3><span class="oi oi-item"></span> Book Editor</h3>
<EditForm Model="@item">
    <table class="table">
        <tr>
            <td>Title</td>
            <td>
                <input class="form-control col-sm-4" type="text" maxlength="200"
                       @bind="item.Title" />
            </td>
        </tr>
        <tr>
            <td>Author</td>
            <td>
                <input class="form-control col-sm-4" type="text" maxlength="50"
                       @bind="item.Author" />
            </td>
        </tr>
        <tr>
            <td>ISBN</td>
            <td>
                <input class="form-control col-sm-4" type="text" maxlength="14"
                       @bind="item.ISBN" placeholder="Leave empty for random" />
            </td>
        </tr>
        <tr>
            <td>Language</td>
            <td>
                <input class="form-control col-sm-4" type="text" maxlength="20"
                       @bind="item.Language" placeholder="Set the book language" />
            </td>
        </tr>
        <tr>
            <td>Link</td>
            <td>
                <input class="form-control col-sm-4" type="text" maxlength="200"
                       @bind="item.Link" placeholder="Link" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                <input class="btn btn-primary" type="submit" value="Update" @onclick="Save" />
                <input class="btn btn-danger" type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>

<p class="alert-info">@echo</p>